* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.eventHeading {
    text-align: center;
    margin: 10px 0 10px 0;
}

.hide_one {
    text-align: center;
}



.hide_show_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    text-align: center;
}

button {
    padding: 8px;
    background: #3982E4;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.hide_one_one {
    background: red;
}

.hide_one_two {
    background: blue;
}

.hide_one_three {
    background: violet;
}

.hide_one_four {
    background: aqua;
}

.hide_one_five {
    background: magenta;
}

.hide_one_six {
    background: navajowhite;
}

.hide_one_seven {
    background: maroon;
}

.hide_one_eight {
    background: thistle;
    border: 1px solid teal;
}

.hide_one_ten{
    background: gray;
}
.hide_one_one,
.hide_one_two,
.hide_one_three,
.hide_one_four,
.hide_one_five,
.hide_one_six,
.hide_one_seven,
.hide_one_eight,
.hide_one_nine,
.hide_one_ten {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hide_one_nine {
    background: rgb(85, 26, 26);
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    background: floralwhite;
    margin: 10px;
}

input::placeholder {
    color: black;
}

.hide_one_eight {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    color: black;
}